.footer
  background-color: #2c2c2c
  color: #fff
  padding: 40px 0
  max-width: 1442px
  margin: 0 auto

.container
  max-width: 1266px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: flex-start
  gap: 40px // Adiciona espaçamento entre as seções

.section
  flex: 1
  padding: 0 20px
  font-family: var(--font-poppins)

  h4
    font-size: 13px
    font-weight: 700
    margin-bottom: 20px
    color: #fff

  ul
    list-style: none
    padding: 0
    margin: 0
    margin-bottom: 40px 

    li
      font-size: 12px
      font-weight: 300
      color: #fff
      line-height: 32px

  .socialMedia
    position: absolute
    bottom: 0 
    left: 0
    right: 0
    display: flex
    justify-content: space-between 
    

.paymentMethods
  display: flex
  flex-wrap: wrap
  gap: 15px
  margin-top: 10px

.newsletter
  width: 380px
  height: 260px
  padding: 20px
  background-color: #fff
  border-radius: 10px
  text-align: left
  font-family: var(--font-poppins)
  color: #3F3F40
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
  display: flex
  flex-direction: column
  justify-content: center

  h4
    font-size: 16px
    font-weight: 300
    margin-bottom: 10px
    strong
      font-weight: 700
      font-size: 21px

  p
    font-size: 12px
    font-weight: 300
    margin-bottom: 20px
    color: #3F3F40

  .subscribe
    display: flex
    width: 100%

    input
      flex: 1
      padding: 10px
      border: 1px solid #ccc
      border-radius: 5px 0 0 5px
      font-size: 14px
      background-color: #fff

    button
      padding: 10px 20px
      border: none
      background-color: #F71963
      color: #fff
      border-radius: 0 5px 5px 0
      cursor: pointer
      font-weight: bold
      text-transform: uppercase
      font-size: 14px

.about
  max-width: 149px
  max-height: 224px
  position: relative // Permite posicionar a socialMedia corretamente dentro do about
  padding-bottom: 40px // Adiciona espaço suficiente para as redes sociais
