.sectionTitleWrapper
  max-width: 1138px
  margin: 0 auto  
  text-align: center

.sectionTitle
  display: flex
  align-items: center
  justify-content: center
  position: relative
  font-family: var(--font-poppins)

.line
  flex-grow: 1
  height: 1px
  background-color: #e0e0e0
  margin: 0 10px

.children
  font-size: 30px
  font-weight: 700
  color: #F71963
  margin: 0 20px
  line-height: 45px
  font-family: var(--font-poppins)

.viewAll
  margin-top: 10px
  font-size: 15px
  font-family: var(--font-poppins)
  color: #3F3F40
  font-weight: 700
